# Download Stock Prices

###  Install Libraries

In [1]:
#install anaconda first
# then uncomment and run if you dont have the following libraries
#!conda install -c anaconda pandas
#!conda install -c anaconda pandas-datareader
#!conda install -c anaconda beautifulsoup4
#!conda install -c anaconda requests

###  Import Libraries

In [2]:
import datetime as dt
import pandas as pd
import pandas_datareader.data as web
import time
import os

### Update S&P 500 ticker list

In [3]:
# Updates latest S&P tickers from the web
%run generate_sp500_tickers.ipynb
tickers = pd.read_csv('sp500tickers.txt', names=['Symbol']).Symbol.tolist()

Updated latest S&P Tickers

In [4]:
#if you want to use tickers of your choice as features, input them here after uncommenting
#tickers = ['AAPL','IBM','^GSPC']

###  Select dates for your download of S&P prices

In [5]:
# start = dt.datetime(2018,1,1)
# end = dt.datetime(2019,12,31)
start = '2000-01-01'
end = '2019-12-31'

### Function to download prices and create a file with Adj Close data for all choosen tickers

In [6]:
def download_prices():
    if not os.path.exists('prices'):
        os.makedirs('prices')      
    for ticker in tickers[:]:    
        df1 = web.DataReader(ticker,'yahoo',start,end)
        df1.to_csv('prices/'+ticker+'.csv')
        #time.sleep(1)
        
        
def create_adjClose_file():
    df=pd.DataFrame(index=pd.date_range(start,end))   
    for ticker in tickers[:]: 
        df1=pd.read_csv('prices/'+ticker+'.csv', index_col=0, parse_dates=True).drop(['High','Low','Open','Close',
                'Volume'], axis=1).rename(columns={'Adj Close':ticker}).round(2)
        df=df.join(df1)
    df=df.dropna(subset=['^GSPC']).drop_duplicates()
    df.to_csv('adj_close.csv')

### Use the function download prices and generate adj close file

In [7]:
#uncomment to regenerate the file
download_prices()
create_adjClose_file()

### Open saved adj close file

In [8]:
df = pd.read_csv('adj_close.csv', index_col=0, parse_dates=True)
df.head(5)

,A,AAL,AAP,AAPL,ABBV,ABC,ABMD,ABT,ACN,ADBE,...,XOM,XRAY,XRT,XRX,XYL,YUM,ZBH,ZION,ZTS,^GSPC
2000-01-03,45.08,NaN,NaN,3.49,NaN,3.02,18.25,9.75,NaN,16.27,...,22.12,6.69,NaN,53.39,NaN,4.44,NaN,41.86,NaN,1455.22
2000-01-04,41.64,NaN,NaN,3.19,NaN,2.82,17.81,9.47,NaN,14.91,...,21.70,6.69,NaN,50.90,NaN,4.35,NaN,39.83,NaN,1399.42
2000-01-05,39.06,NaN,NaN,3.24,NaN,3.04,18.00,9.46,NaN,15.20,...,22.88,6.80,NaN,53.52,NaN,4.37,NaN,39.79,NaN,1402.11
2000-01-06,37.57,NaN,NaN,2.96,NaN,3.27,18.03,9.79,NaN,15.33,...,24.06,6.81,NaN,52.42,NaN,4.34,NaN,40.35,NaN,1403.45
2000-01-07,40.70,NaN,NaN,3.10,NaN,3.69,17.94,9.89,NaN,16.07,...,23.99,6.80,NaN,53.66,NaN,4.24,NaN,40.45,NaN,1441.47

In [9]:
df.tail()

,A,AAL,AAP,AAPL,ABBV,ABC,ABMD,ABT,ACN,ADBE,...,XOM,XRAY,XRT,XRX,XYL,YUM,ZBH,ZION,ZTS,^GSPC
2019-08-30,71.11,26.31,137.95,208.74,65.74,82.27,193.07,85.32,198.17,284.51,...,68.48,52.15,39.77,28.99,76.61,116.78,139.20,41.09,126.42,2926.46
2019-09-03,70.41,26.51,140.36,205.70,65.40,84.04,183.64,84.06,195.75,282.45,...,68.56,51.73,39.16,29.11,74.64,116.71,139.39,39.79,127.04,2906.27
2019-09-04,70.86,27.00,141.89,209.19,66.38,85.18,183.38,84.22,197.71,284.60,...,69.29,51.33,39.59,29.31,75.31,117.89,138.01,40.01,127.59,2937.78
2019-09-05,73.52,27.69,146.55,213.28,67.03,86.04,190.25,85.90,199.49,287.75,...,70.27,51.65,41.07,29.85,77.75,118.16,139.54,41.14,128.07,2976.00
2019-09-06,74.28,27.79,147.21,213.26,67.62,86.32,189.43,86.04,201.12,284.94,...,70.93,50.69,41.01,29.85,78.39,119.21,139.74,40.94,128.43,2978.71